<div class="tweet_index_main">
  <div class="tweets_group">
    <div class= tweet_brank></div>
    <div class="tweet_content">
      <% @tweets.each do |tweet| %>
        <%= render partial: "tweet" , locals: { tweet: tweet }%>
      <% end %>
      <div class= pagenate >
        <%= paginate(@tweets) %>
      </div>
    </div>
  </div> 
</div>



<div class="contents_haiku_index">
  <div><i class="haiku_history">過去の投稿<span class="other-right"><span id="new">新着順</span> / <span id="like">いいね順</span></span></i>
    <% @tweets.each do |tweet| %>
      <div class="haiku_name_wrap">
        <div class="haiku_main_wrap">
        <%= tweet.firstphrase %>&emsp;<%= tweet.secondphrase %>&emsp;<%= tweet.thirdphrase %><br>
        </div> 
          <span class= haiku_contributor >投稿者:<%= tweet.user.name%></span>
          <div>
            <i class="far fa-clock fa-lg"></i>
            0
          </div>
      </div>    
    <% end %>
  <%= paginate(@tweets) %>
</div>    





