<div class="back_contents">

  <div class="tweet_contents">
    <div class= tweet_brank></div>
    <div class= tweet_brank></div>
    <div class="tweet_main">
      <%= form_for @tweet do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="tweet_new">
        <h3 class="toukou">新規投稿</h3>
          <div class="custom-file">
            <%= f.label :画像 %>
            <%= f.file_field :image ,id: "upload_file",class: "data_file" %>
            <span id="preview_area"></span> 
          </div>
          <span id ="preview_areaas" ></span> 
          <div><%= f.text_field :firstphrase, class: "form_new",placeholder: "一の句：五" %></div>
          <div><%= f.text_field :secondphrase, class: "form_new",placeholder: "二の句：七"  %></div>
          <div><%= f.text_field :thirdphrase, class: "form_new",placeholder: "三の句：五"  %></div>
          <div><%= f.text_field :text, class: "comment_new",placeholder: "ひとこと"  %></div>
          <input class =  "btn btn-primary" id="toukou_btn" type="submit" value="投稿する">
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('#upload_file').on('change', function(){ // onメソッドにより'#upload_file'が選択されると発火する
    var strFileInfo = $('#upload_file')[0].files[0]; //ファイルオブジェクトを変数にセット
    if(strFileInfo && strFileInfo.type.match('image.*')){ //strFileInfoにセットされたファイルが画像なら処理を続行

      $('#preview').remove();//表示しているプレビューがあれば削除
      $('#preview_area').append('<img id="preview" width="100" />');//#preview_areaに画像をセット

      fileReader = new FileReader();//FileReaderメソッドを初期化
      fileReader.onload = function(event){
        $('#preview').attr('src', event.target.result);
      }
      fileReader.readAsDataURL(strFileInfo); //画像フォルダが読み込まれる
    }
  });
</script>



