<div class="tweet_text_group_haiku">
  <%= link_to("/tweets/#{tweet.id}/edit", method: :get) do %>
    <div class="tweet_text_group_main">
      <div class= tweet_brank></div>
      <div class="tweet_image"><img class="t_image" src="<%= "#{tweet.image}" %>">
      </div>
      <div class="tweet_text">
        <div class="tweet_text_third"><%= tweet.thirdphrase %></div>
        <div class="tweet_text_second"><%= tweet.secondphrase %></div>
        <div class="tweet_text_first"><%= tweet.firstphrase %></div>
      </div>
    </div>
  <%end%>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <div class= contributor><%= link_to("/tweets/#{tweet.id}", method: :delete) do %>
        <div class= contributor_text>削除する</div>
        </div>
      <%end%>
    <% else %>
    aaa
    <div class= tweet_brank></div>
    <div class= tweet_brank></div>
    <% end %>


  <div class= tweet_brank></div>
</div>
