<div class="tweet_index_main_show">
  <div class="tweets_group">
    <div class= tweet_brank></div>
    <div class="tweet_content">
      <div class="tweet_text_group_haiku">
        <div class="tweet_text_group_main">
          <div class= tweet_brank></div>
          <div class="tweet_image"><img class="t_image" src="/assets/images/coffee1.jpg">
          </div>
          <div class="tweet_text">
            <div class="tweet_text_third"><%= @tweet.thirdphrase %></div>
            <div class="tweet_text_second"><%= @tweet.secondphrase %></div>
            <div class="tweet_text_first"><%= @tweet.firstphrase %></div>
          </div>
        </div>
      <div class="tweets_comment"><p> </p></div> 
    </div>
  </div> 
</div>
<% if current_user.likes.find_by(tweet_id: @tweet.id) %>
  <%= link_to "いいね解除", tweet_like_path(@tweet), method: :delete %>
<% else %>
  <%= link_to "いいね", tweet_likes_path(@tweet), method: :post %>
<% end %>





<div class="comment-box">
        <div class="comment-inner">
          <p class="lead">いいね</p>
          <div class="comment-bottom">
            <h3 class="post-user-name">投稿者: <a href="/users/241"><%= @tweet.name %></a></h3>
            <h3><i class="fas fa-comments"></i>コメント</h3>
              <p class="no-comment">コメントはまだありません。</p>
          </div>
        </div>
        <i id="plus-btn" class="fas fa-plus"></i>
        <i id="minus-btn" class="fas fa-minus"></i>

        <a class="comment-btn" href="#">
          <i class="fas fa-comment"></i>
</a>
          <a rel="nofollow" data-method="post" href="/areas/201/likes">
            <i class="fas fa-heart no-heart"></i>
</a>        <div class="likes-count">0</div>
      </div>
