<div class="register_back_contents">
  <div class= tweet_brank></div>
  <div class= tweet_brank></div>
  <div class="authform">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
      <h3>パスワードの再発行</h3>
      <p>メールアドレスを入力してください</p>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <%= f.submit 'パスワードリセット', :class => 'button right' %>
    <% end %>
  </div>
</div>

