<%# add navigation links to this file %>
<div class = title>
  <li class = title_logo> 俳句の園 </li>
  <% if user_signed_in? %>
    <li class= title_btn><%= link_to 'ホーム', root_path %></li>
    <a class= title_btn  href="/users/<%= current_user.id %>/edit"><%= current_user.name %></a>
    <li class= title_btn><%= link_to 'アカウント編集', edit_user_registration_path %></li>
    <li class= title_btn><%= link_to '投稿一覧', tweets_path %></li>
    <li class= title_btn><%= link_to '投稿する', new_tweet_path %></li>
        <li class= title_btn><%= link_to 'ログアウト', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li class= title_btn><%= link_to 'ホーム', root_path %></li>
    <li class= title_btn><%= link_to 'サインイン', new_user_session_path %></li>
    <li class= title_btn><%= link_to '新規登録', new_user_registration_path %></li>
  <% end %>
</div>